### STRINGS
    	  String is a collection of one or more characters put in a single quote, double quotes or triple quotes.
		  Multiple line strings can be denoted as triple quotes.
		  Eg: "Hello Good Morning"
          Str() is used to convert any form to string form.

In [5]:
a="Apple"
print(a)
type(a)

Apple

str

In [6]:
a1="21.34"
print(a1)
type(a1)

21.34

str

### Indexing
     Python index() is an inbuilt function in Python, which searches for a given element from the start of the list and returns the index of the first occurrence.

In [3]:
a2="Welcome"
print(a2)

Welcome

In [7]:
a2[0]

'W'

In [8]:
a2[1]

'e'

In [9]:
len(a2)

7

In [10]:
a2[-1]

'e'

In [11]:
a2[-len(a2)]

'W'

### SLICING
    	  Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end.
		  [<Start>:<End>:<Step>]
			  All three are optional.
			  Step is very important, it is decide the direction.
			  It Defines how to display extracted value using start and end.
			  Default value of step is 1.
			  Direction - Left to Right
			  Starting Index is 0.
			  Starting Index < Ending Index (Positive)
			  For Negaive Step:
				□ Direction: Right to Left
				□ Starting Index: -1
				□ Ending Index: -len
				□ Staring Index > Ending Index

In [12]:
a4="HELLO ALL WELCOME TO PYTHON"
print(a4)

HELLO ALL WELCOME TO PYTHON

In [13]:
a4[0:5:1]

'HELLO'

In [14]:
a4[0:]

'HELLO ALL WELCOME TO PYTHON'

In [15]:
a4[:5]

'HELLO'

### Reverse Slicing

In [16]:
a4[::-1]

'NOHTYP OT EMOCLEW LLA OLLEH'

In [17]:
a4[-1::]

'N'

In [19]:
a4[-10:-1:]

' TO PYTHO'

In [20]:
a4[-10:-5:]

' TO P'

### Capitalize
    Only First letter of string convert to upper case.(The apple is sweet)

In [21]:
a5="welcome to school"
print(a5)

welcome to school

In [22]:
b=a5.capitalize()
print(b)

Welcome to school

### Upper Case
    All letter converts to upper case.(APPLE)

In [23]:
b1=a5.upper()
print(b1)

WELCOME TO SCHOOL

### Lower Case
    All letter converts to lower case.(apple)

In [24]:
b1

'WELCOME TO SCHOOL'

In [25]:
b2=b1.lower()
print(b2)

welcome to school

### Title
     All the First letters of strings convert to upper case.(The Apple Is Sweet)

In [26]:
b3=a5.title()
print(b3)

Welcome To School

### Swap Case
    It converts the string according to their original string.

In [27]:
b1

'WELCOME TO SCHOOL'

In [28]:
b4=b1.swapcase()
print(b4)

welcome to school

### Center
    How much value we give to this function it take that much space of the value of the string and the value is in center. According to the value it take the space form both side.

In [29]:
a6="PYTHON"
print(a6)

PYTHON

In [33]:
b5=a6.center(19)
print(b5)

       PYTHON

In [36]:
len(b5)

19

In [34]:
b6=a6.center(19,"*")
print(b6)

*******PYTHON******

### ljust 
    It take the value of string to left side and other are space.

In [37]:
b7=a6.ljust(19,"*")
print(b7)

PYTHON*************

### rjust
     It take the value of string to right side and other are space.

In [38]:
b8=a6.rjust(19,"*")
print(b8)

*************PYTHON

### strip
    Python strip() function is a part of built-in functions available in the Python library. The strip() method removes given characters from start and end of the original string. By default, strip() function removes white spaces from start and end of the string and returns the same string without white spaces.

In [39]:
b5

'       PYTHON      '

In [40]:
b9=b5.strip()
print(b9)

PYTHON

### lstrip

In [41]:
b5

'       PYTHON      '

In [42]:
b10=b5.lstrip()
print(b10)

PYTHON

### rstrip

In [43]:
b5

'       PYTHON      '

In [44]:
b11=b5.rstrip()
print(b11)

       PYTHON

### find

In [45]:
a7="Apple is a sweet fruit"
print(a7)

Apple is a sweet fruit

In [47]:
a7.find("sweet")

11

In [48]:
a7.find("Sweet")

-1

In [49]:
a8="APPLE IS RED IN COLOUR, APPLE IS GOOD FOR HEALTH"
print(a8)

APPLE IS RED IN COLOUR, APPLE IS GOOD FOR HEALTH

In [50]:
a8.rfind("APPLE")

24

### split
    The split function helps in string manipulation in Python. It allows you to split up a string into different substrings. It returns a list of words present in a line or a string and is separated by a delimiter string.

In [51]:
a9="Apple-Banana-Orange-Mango"
print(a9)

Apple-Banana-Orange-Mango

In [52]:
c=a9.split("-")
print(c)

['Apple', 'Banana', 'Orange', 'Mango']

In [53]:
len(c)

4

In [55]:
c1=c[0]
print(c1)

Apple

### replace

In [57]:
a9.replace("Apple","Kiwi")

'Kiwi-Banana-Orange-Mango'

### partition
    		  It perform only one split and return 3 values.
			  1st value- Delimiter
			  2nd value- Left side of the delimiter
			  3rd value- Right side od the delimiter
			  Delimiter is there.
			  It come in Tuple format
			 
			      S=ORANGE BANANA APPLE GRAPES APPLES KIWI
			      S.split(“APPLE”)
    S.partition(“APPLE”)- ORANGE BANANA ‘APPLE’ GRAPES APPLE KIWI

In [58]:
a10="ORANGE BANANA APPLE GRAPES  KIWI"
print(a10)

ORANGE BANANA APPLE GRAPES  KIWI

In [59]:
a10.partition("APPLE")

('ORANGE BANANA ', 'APPLE', ' GRAPES  KIWI')

### rpartition

In [60]:
a11="Blue Green Black Yellow White Black Pink Purple"
print(a11)

Blue Green Black Yellow White Black Pink Purple

In [61]:
a11.partition("Black")

('Blue Green ', 'Black', ' Yellow White Black Pink Purple')

In [62]:
a11.rpartition("Black")

('Blue Green Black Yellow White ', 'Black', ' Pink Purple')

### join

In [63]:
a12=("Blue","Green","Red","Blue")
print(a12)

('Blue', 'Green', 'Red', 'Blue')

In [64]:
"-".join(a12)

'Blue-Green-Red-Blue'

In [66]:
"-".join("ARJUN")

'A-R-J-U-N'

### is

### istitle

In [67]:
s="Sky IS Blue"
print(s)

Sky IS Blue

In [68]:
s.istitle()

False

In [69]:
s1="Sky Is Blue"
print(s1)

Sky Is Blue

In [71]:
s1.istitle()

True

### isupper

In [73]:
s1="Sky IS Blue"
s1

'Sky IS Blue'

In [74]:
s1.isupper()

False

In [75]:
s2="SKY IS BLUE"
s2

'SKY IS BLUE'

In [76]:
s2.isupper()

True

### islower

In [77]:
s1

'Sky IS Blue'

In [79]:
s1.islower()

False

In [80]:
s3="sky is blue"
s3

'sky is blue'

In [81]:
s3.islower()

True

### isalpha

In [82]:
s1

'Sky IS Blue'

In [83]:
s1.isalpha()

False

In [84]:
s4="APPLE"
s4

'APPLE'

In [85]:
s4.isalpha()

True

In [86]:
s2

'SKY IS BLUE'

In [87]:
s2.isalpha()

False

### isdigit

In [88]:
s1

'Sky IS Blue'

In [89]:
s1.isdigit()

False

In [90]:
s5="12567"
s5

'12567'

In [91]:
s5.isdigit()

True