## <font color="brown">IMPORTING LIBRARY

In [1]:
import numpy as np
import pandas as pd

In [2]:
sub=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\subs.csv",squeeze=True)

C:\Users\mitra\AppData\Local\Temp\ipykernel_18924\601148715.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  sub=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\subs.csv",squeeze=True)

In [3]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [4]:
 vk=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\kohli_ipl.csv",index_col="match_no",squeeze=True)

C:\Users\mitra\AppData\Local\Temp\ipykernel_18924\4291034335.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\kohli_ipl.csv",index_col="match_no",squeeze=True)

In [5]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [6]:
mv=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\bollywood.csv",index_col="movie",squeeze=True)

C:\Users\mitra\AppData\Local\Temp\ipykernel_18924\2715415027.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  mv=pd.read_csv(r"C:\Users\mitra\Desktop\DUDUL DS\CAMPUSX\PYTHON\PANDAS\PANDAS SERIES\Datasets\Pandas Series\bollywood.csv",index_col="movie",squeeze=True)

In [7]:
mv

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

#### ASTYPE
    It changes the data type of values.

In [8]:
# Here dtype is int64. we can change it to int16.
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [9]:
# We could change the data type to int16
vk.astype("int16")

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

#### BETWEEN
    It give Boolean Value i.e. True/False, if the values are between the given range.
    Both Starting & Ending Values are inclued.

In [14]:
# It give Boolean Series
vk.between(51,99)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [15]:
# It give all the match with run
vk[vk.between(51,99)]

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [16]:
vk[vk.between(51,99)].size

43

#### CLIP
    It keep only the values which you are specify.

In [17]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [18]:
# Here the lower values are converted to 100 and higher values to 200
sub.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

#### DROP DUPLICATES
    It delete the duplicate values

In [19]:
temp=pd.Series([1,1,1,2,4,2,3,4,2,5,3,4,2,4,3,5,4,3])

In [20]:
temp

0     1
1     1
2     1
3     2
4     4
5     2
6     3
7     4
8     2
9     5
10    3
11    4
12    2
13    4
14    3
15    5
16    4
17    3
dtype: int64

In [21]:
temp.drop_duplicates()

0    1
3    2
4    4
6    3
9    5
dtype: int64

In [22]:
temp.drop_duplicates(keep="last")

2     1
12    2
15    5
16    4
17    3
dtype: int64

#### ISNULL
    It give boolean values.
    It give how many missing values are thier in the Series.

In [40]:
tempp=pd.Series([1,2,3,np.nan,5,6,np.nan,7,np.nan,8,np.nan,9,np.nan,10])

In [41]:
tempp

0      1.0
1      2.0
2      3.0
3      NaN
4      5.0
5      6.0
6      NaN
7      7.0
8      NaN
9      8.0
10     NaN
11     9.0
12     NaN
13    10.0
dtype: float64

### DIFFERENCE BETWEEN "SIZE" & "COUNT"

In [42]:
tempp.size

14

In [43]:
tempp.count()  # If the index having NaN/Null Values, then it do not count that indexes

9

###

In [44]:
tempp.isnull().sum()

5

In [45]:
tempp.isna().sum()

5

#### DROPNA
    It delete all the NaN Values.

In [46]:
tempp.dropna()

0      1.0
1      2.0
2      3.0
4      5.0
5      6.0
7      7.0
9      8.0
11     9.0
13    10.0
dtype: float64

#### FILLNA
    It replace the NaN to a Specific Values.

In [47]:
# It fill the NaN with 0
tempp.fillna(0)

0      1.0
1      2.0
2      3.0
3      0.0
4      5.0
5      6.0
6      0.0
7      7.0
8      0.0
9      8.0
10     0.0
11     9.0
12     0.0
13    10.0
dtype: float64

In [49]:
# It fill the NaN with Mean
tempp.fillna(np.mean(tempp))

0      1.000000
1      2.000000
2      3.000000
3      5.666667
4      5.000000
5      6.000000
6      5.666667
7      7.000000
8      5.666667
9      8.000000
10     5.666667
11     9.000000
12     5.666667
13    10.000000
dtype: float64

#### ISIN
    It give Boolean Series.
    It use to show which values are in the Series or not.

In [50]:
vk.isin([49,99])

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [51]:
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

#### APPLY
    It use to apply the Custom Logic.

In [52]:
mv

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [56]:
# If you want the Actor's First name with upper letter.

mv.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [58]:
sub.mean()

135.64383561643837

In [59]:
sub.apply(lambda x : "Good Day" if  x>sub.mean() else "Bad Day")

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

#### COPY

In [65]:
# It is the real Dataset
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [66]:
# It is First 5 Rows
vk.head()

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [67]:
# The first 5 rows store in a Variable
new=vk.head()

In [68]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [70]:
# If we changes the index 1 to 1.
new[1]=1

In [71]:
# The new variable's Index 1 changes to 1.
new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [72]:
# If you see the real dataset.Then the index 1 value's also change to 1.
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

###

In [73]:
# If you use copy and store it to a variable then New Dataset is Created.
neww=vk.head().copy()

In [74]:
neww

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [75]:
# If we change the index 1 to 100 in new.
neww[1]=100

In [76]:
neww

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [77]:
# The Index 1 is not Changed in the real dataset.
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
# If you do not want to change your real dataset values then use "Copy".