In [13]:
import time

In [14]:
list1=["APPLE","HYDRABAD","12345","USA"]

In [15]:
for a in list1:
    print(a)

APPLE
HYDRABAD
12345
USA

In [16]:
for a in list1:
    print(a)
    print("____________")
    
    for x in a:
        print(x)

APPLE
____________
A
P
P
L
E
HYDRABAD
____________
H
Y
D
R
A
B
A
D
12345
____________
1
2
3
4
5
USA
____________
U
S
A

In [20]:
list2=["APPLE","HYDRABAD",12345,"USA","INDIA",2100,"FRANCE"]

In [21]:
for i in list2:
    print(i)
    time.sleep(0.7)

APPLE
HYDRABAD
12345
USA
INDIA
2100
FRANCE

In [27]:
for i in list2:
    print(i)
    print("_______________")
    if type(i)== str:
        for j in i:
            print(j)
    
    print("_________________")
    time.sleep(0.7)

APPLE
_______________
A
P
P
L
E
_________________
HYDRABAD
_______________
H
Y
D
R
A
B
A
D
_________________
12345
_______________
_________________
USA
_______________
U
S
A
_________________
INDIA
_______________
I
N
D
I
A
_________________
2100
_______________
_________________
FRANCE
_______________
F
R
A
N
C
E
_________________

### Range()

In [28]:
a=range(1,11,1)

In [29]:
a #Generate the value

range(1, 11)

In [30]:
list(a) #Container hold the values.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
b=list(range(2,20,2))

In [35]:
b

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
res=list(range(10,50,5))
res

[10, 15, 20, 25, 30, 35, 40, 45]

In [38]:
res1=list(range(10,50))
res1

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [39]:
res2=list(range(50))
res2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
res3=list(range()) #ERROR

In [41]:
res4=list(range(20,10,-1)) # Staring value > Ending value
res4

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

### For with Range

In [42]:
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [43]:
for i1 in range(10,1,-1):
    print(i1)

10
9
8
7
6
5
4
3
2

In [44]:
for i2 in range(0,10,2):
    print(i2)

0
2
4
6
8

In [49]:
import numpy as np

In [51]:
ary1= np.random.randint(10,100(40))

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\mitra\AppData\Local\Temp\ipykernel_5168\1294036362.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  ary1= np.random.randint(10,100(40))

TypeError: 'int' object is not callable

In [48]:
ary1.ndim

NameError: name 'ary1' is not defined

In [ ]:
ary1.shape

In [ ]:
ary1.size

In [ ]:
for i in ary1:
    if i%2==0:
        print(i)

In [53]:
for i in range(1,11,1):
    print(9,"*",i,"==",i*9)

9 * 1 == 9
9 * 2 == 18
9 * 3 == 27
9 * 4 == 36
9 * 5 == 45
9 * 6 == 54
9 * 7 == 63
9 * 8 == 72
9 * 9 == 81
9 * 10 == 90

In [71]:
num=int(input("Enter Table Range: "))

for x in range(2,num+1):
    
    for i in range(1,11):
        print(x,"*",i,"==",x*i)

Enter Table Range: 5
2 * 1 == 2
2 * 2 == 4
2 * 3 == 6
2 * 4 == 8
2 * 5 == 10
2 * 6 == 12
2 * 7 == 14
2 * 8 == 16
2 * 9 == 18
2 * 10 == 20
3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27
3 * 10 == 30
4 * 1 == 4
4 * 2 == 8
4 * 3 == 12
4 * 4 == 16
4 * 5 == 20
4 * 6 == 24
4 * 7 == 28
4 * 8 == 32
4 * 9 == 36
4 * 10 == 40
5 * 1 == 5
5 * 2 == 10
5 * 3 == 15
5 * 4 == 20
5 * 5 == 25
5 * 6 == 30
5 * 7 == 35
5 * 8 == 40
5 * 9 == 45
5 * 10 == 50

In [67]:
num=int(input("Enter Table Range: "))
for i in range(1,11):
    for x in range(2,num+1):
        print(x,"*",i,"==",x*i,end="\t")
    print()

Enter Table Range: 5
2 * 1 == 2	3 * 1 == 3	4 * 1 == 4	5 * 1 == 5
2 * 2 == 4	3 * 2 == 6	4 * 2 == 8	5 * 2 == 10
2 * 3 == 6	3 * 3 == 9	4 * 3 == 12	5 * 3 == 15
2 * 4 == 8	3 * 4 == 12	4 * 4 == 16	5 * 4 == 20
2 * 5 == 10	3 * 5 == 15	4 * 5 == 20	5 * 5 == 25
2 * 6 == 12	3 * 6 == 18	4 * 6 == 24	5 * 6 == 30
2 * 7 == 14	3 * 7 == 21	4 * 7 == 28	5 * 7 == 35
2 * 8 == 16	3 * 8 == 24	4 * 8 == 32	5 * 8 == 40
2 * 9 == 18	3 * 9 == 27	4 * 9 == 36	5 * 9 == 45
2 * 10 == 20	3 * 10 == 30	4 * 10 == 40	5 * 10 == 50

In [75]:
num1=int(input("Enter a Number: "))


for i in range(1,num+1):
    if i%num1==0 and i%i==0:
        print("Prime")
    else:
        print("Not Prime")

Enter a Number: 5
Not Prime
Not Prime
Not Prime
Not Prime
Prime

In [3]:
num1=int(input("Enter a Number: "))

c=0
for i in range(1,num1+1):
    if num1%i==0:
        c=c+1
        
if c==2:
    print("Prime Number")
else :
    print("Not Prime Number")

Enter a Number: 1
Not Prime Number

### Interruptive Statement

### Break

In [78]:
for i in range(1,10): #break
    if i==7:
        break
        
    print(i)
    time.sleep(0.5)
print("This is the end of Program")

1
2
3
4
5
6
This is the end of Program

### Continue

In [79]:
for i in range(1,10): 
    if i==7:
        continue
    else:
        print(i)
        time.sleep(0.5)

1
2
3
4
5
6
8
9

### Exit

In [84]:
for i in range(1,10): 
    if i==7:
        exit(0) 
    
        print(i)
        time.sleep(0.5)
print("This is end of the Program")

7
This is end of the Program