In [1]:
i=1  #Normal While Lopp
while i<=5:
    print("INDIA")
    i=i+1

INDIA
INDIA
INDIA
INDIA
INDIA

In [2]:
i=1  
while i<=5:
    print("INDIA")
    i=i+1

INDIA
INDIA
INDIA
INDIA
INDIA

In [3]:

i=1
while i<=5:
    print(i*i)
    i=i+1

1
4
9
16
25

### Nested While Loop

In [4]:

y=1
while y<=5:
    
    i=1
    while i<=5:
        print(i*i)
        i=i+1
    print("__________________")    
    
    y=y+1

1
4
9
16
25
__________________
1
4
9
16
25
__________________
1
4
9
16
25
__________________
1
4
9
16
25
__________________
1
4
9
16
25
__________________

In [5]:
y=1
while y<=5:
    
    i=1
    while i<=5:
        print(y,"==",i)
        i=i+1
    print("__________________")    
    
    y=y+1

1 == 1
1 == 2
1 == 3
1 == 4
1 == 5
__________________
2 == 1
2 == 2
2 == 3
2 == 4
2 == 5
__________________
3 == 1
3 == 2
3 == 3
3 == 4
3 == 5
__________________
4 == 1
4 == 2
4 == 3
4 == 4
4 == 5
__________________
5 == 1
5 == 2
5 == 3
5 == 4
5 == 5
__________________

### 1 to 5 tables

In [6]:
y=1
while y<=5:
    
    i=1
    while i<=10:
        print(y,"*",i,"==",(y*i))
        i=i+1
    print("__________________")    
    
    y=y+1

1 * 1 == 1
1 * 2 == 2
1 * 3 == 3
1 * 4 == 4
1 * 5 == 5
1 * 6 == 6
1 * 7 == 7
1 * 8 == 8
1 * 9 == 9
1 * 10 == 10
__________________
2 * 1 == 2
2 * 2 == 4
2 * 3 == 6
2 * 4 == 8
2 * 5 == 10
2 * 6 == 12
2 * 7 == 14
2 * 8 == 16
2 * 9 == 18
2 * 10 == 20
__________________
3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27
3 * 10 == 30
__________________
4 * 1 == 4
4 * 2 == 8
4 * 3 == 12
4 * 4 == 16
4 * 5 == 20
4 * 6 == 24
4 * 7 == 28
4 * 8 == 32
4 * 9 == 36
4 * 10 == 40
__________________
5 * 1 == 5
5 * 2 == 10
5 * 3 == 15
5 * 4 == 20
5 * 5 == 25
5 * 6 == 30
5 * 7 == 35
5 * 8 == 40
5 * 9 == 45
5 * 10 == 50
__________________

### user input then multiple tables

In [7]:
num=int(input("Enter a number: "))

y=1
while y<=num:
    
    i=1
    while i<=10:
        print(y,"*",i,"==",(y*i))
        i=i+1
    print("__________________")    
    
    y=y+1

Enter a number: 4
1 * 1 == 1
1 * 2 == 2
1 * 3 == 3
1 * 4 == 4
1 * 5 == 5
1 * 6 == 6
1 * 7 == 7
1 * 8 == 8
1 * 9 == 9
1 * 10 == 10
__________________
2 * 1 == 2
2 * 2 == 4
2 * 3 == 6
2 * 4 == 8
2 * 5 == 10
2 * 6 == 12
2 * 7 == 14
2 * 8 == 16
2 * 9 == 18
2 * 10 == 20
__________________
3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27
3 * 10 == 30
__________________
4 * 1 == 4
4 * 2 == 8
4 * 3 == 12
4 * 4 == 16
4 * 5 == 20
4 * 6 == 24
4 * 7 == 28
4 * 8 == 32
4 * 9 == 36
4 * 10 == 40
__________________

### Prime Number

In [9]:
n=int(input("Enetr a Number: "))
c=0
x=1

while x<=n:
    
    if n%x==0:
        
        c=c+1
        
    x=x+1
        
if c==2:
    print("Prime Number")
else:
    print("Not Prime Number")

Enetr a Number: 5
Prime Number

### Series od Prime Number

In [17]:
num=int(input("Enter a Number List: " ))
c=0
n=3
while n<=num:
    
    x=1
    while x<=n:
        
        if n%x==0:
            c=c+1
        x=x+1
    
    if c==2:
        print(n,"Prime Number")
    else:
        print(n,"Not Prime Number")
    

    n=n+1

Enter a Number List: 10
3 Prime Number
4 Not Prime Number
5 Not Prime Number
6 Not Prime Number
7 Not Prime Number
8 Not Prime Number
9 Not Prime Number
10 Not Prime Number

### While loop "STRING"

In [18]:
s1="Welcome"

In [19]:
s1[::-1]

'emocleW'

In [20]:
s1[0]

'W'

In [23]:
s1[1]

'e'

In [24]:
i=0
while i<=6:
    print(s1[i])
    
    i=i+1

W
e
l
c
o
m
e

In [27]:
s2="Welcome to All"

In [28]:
i=0
while i<=(len(s2)-1):
    print(s2[i])
    
    i=i+1

W
e
l
c
o
m
e

t
o

A
l
l

# Assignemnt
st="GOOD MORNING, WELCOME TO PYTHON CLASS"
## Extract WElCOME using WHILE LOOP

In [46]:
name=input("EBTER STUDENT NAME:")
cls=input("ENTER STUDENT CLASS:")
    
e=int(input("enter  marks: "))
sci=int(input("enter  marks: "))
comp=int(input("enter  marks: "))
    
t=print(e + sci + comp)


print("___________________________________")

print(e)
print(sci)
print(comp)

EBTER STUDENT NAME:a
ENTER STUDENT CLASS:4
enter  marks: 56
enter  marks: 78
enter  marks: 89
223
___________________________________
56
78
89

In [45]:
i=1
while i<=3:
    
    name=input("EBTER STUDENT NAME:")
    cls=input("ENTER STUDENT CLASS:")
    
    e=int(input("enter  marks: "))
    sci=int(input("enter  marks: "))
    comp=int(input("enter  marks: "))
    
    t=print(e + sci + comp)


    print("___________________________________")

    print(e)
    print(sci)
    print(comp)
    
    i=i+1

EBTER STUDENT NAME:a
ENTER STUDENT CLASS:3
enter  marks: 13
enter  marks: 45
enter  marks: 67
125
___________________________________
13
45
67
EBTER STUDENT NAME:b
ENTER STUDENT CLASS:23
enter  marks: 45
enter  marks: 67
enter  marks: 99
211
___________________________________
45
67
99
EBTER STUDENT NAME:c
ENTER STUDENT CLASS:3
enter  marks: 45
enter  marks: 67
enter  marks: 89
201
___________________________________
45
67
89

### While True

In [35]:
import time

In [36]:
while True:
    print("Hello World")
    time.sleep(0.1)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

KeyboardInterrupt:

In [40]:
while True:
    n=input("Enter Name:")
    e=int(input("Enter Marks: "))
    c=int(input("Enter Marks: "))
    m=int(input("Enter Marks: "))
    t=print(e+c+m)
    
    
    ch=input("Would you like to continue(Yes/No): ")
    if ch.lower()!="yes":
        print("Thanks for using")
        break

Enter Name:a
Enter Marks: 23
Enter Marks: 45
Enter Marks: 67
135
Would you like to continue(Yes/No): n
Thanks for using