In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
dfsales = pd.read_csv(r"C:/Users/hp/Desktop/DATASETS/Datasets/Groupby/gbsales.csv")

In [5]:
dfsales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [6]:
dfsales.drop("Account", axis = 1)

,Name,Rep,Manager,Product,Quantity,Price,Status
0,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [7]:
dfsales.drop("Account", axis = 1, inplace = True)

In [8]:
dfsales

,Name,Rep,Manager,Product,Quantity,Price,Status
0,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [10]:
dfsales.drop("Status", axis = 1, inplace=True)

In [11]:
dfsales

,Name,Rep,Manager,Product,Quantity,Price
0,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000
1,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000
2,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000
3,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000
4,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000
5,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000
6,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000
7,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000
8,Barton LLC,John Smith,Debra Henley,CPU,1,35000
9,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000
10,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000
11,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000
12,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000
13,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000
14,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000
15,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000
16,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000

In [12]:
dfsales["Manager"].unique()

array(['Debra Henley', 'Fred Anderson'], dtype=object)

In [13]:
dfsales["Rep"].unique()

array(['Craig Booker', 'Daniel Hilton', 'John Smith', 'Cedric Moss',
       'Wendy Yule'], dtype=object)

In [14]:
dfsales["Rep"].nunique()

5

In [16]:
dfsales["Name"].unique()

array(['Trantow-Barrows', 'Fritsch, Russel and Anderson', 'Kiehn-Spinka',
       'Kulas Inc', 'Jerde-Hilpert', 'Barton LLC', 'Herman LLC',
       'Purdy-Kunde', 'Stokes LLC', 'Kassulke, Ondricka and Metz',
       'Keeling LLC', 'Koepp Ltd'], dtype=object)

In [17]:
dfsales["Name"].nunique()

12

In [18]:
dfsales["Product"].unique()

array(['CPU', 'Software', 'Maintenance', 'Monitor'], dtype=object)

In [19]:
gb_manager = dfsales.groupby("Manager")

In [20]:
gb_manager.groups

{'Debra Henley': [0, 1, 2, 3, 4, 5, 6, 7, 8], 'Fred Anderson': [9, 10, 11, 12, 13, 14, 15, 16]}

In [21]:
for x, y in gb_manager:
    print(x)
    print("__________________")
    print()
    print(y)
    print()
    print("********************************************")
    print()

Debra Henley
__________________

                           Name            Rep       Manager      Product  \
0               Trantow-Barrows   Craig Booker  Debra Henley          CPU
1               Trantow-Barrows   Craig Booker  Debra Henley     Software
2               Trantow-Barrows   Craig Booker  Debra Henley  Maintenance
3  Fritsch, Russel and Anderson   Craig Booker  Debra Henley          CPU
4                  Kiehn-Spinka  Daniel Hilton  Debra Henley          CPU
5                     Kulas Inc  Daniel Hilton  Debra Henley          CPU
6                     Kulas Inc  Daniel Hilton  Debra Henley     Software
7                 Jerde-Hilpert     John Smith  Debra Henley  Maintenance
8                    Barton LLC     John Smith  Debra Henley          CPU

   Quantity  Price
0         1  30000
1         1  10000
2         2   5000
3         1  35000
4         2  65000
5         2  40000
6         1  10000
7         2   5000
8         1  35000

********************************************

Fred Anderson
__________________

                           Name          Rep        Manager      Product  \
9                    Herman LLC  Cedric Moss  Fred Anderson          CPU
10                  Purdy-Kunde  Cedric Moss  Fred Anderson          CPU
11                   Stokes LLC  Cedric Moss  Fred Anderson  Maintenance
12                   Stokes LLC  Cedric Moss  Fred Anderson     Software
13  Kassulke, Ondricka and Metz   Wendy Yule  Fred Anderson  Maintenance
14                  Keeling LLC   Wendy Yule  Fred Anderson          CPU
15                    Koepp Ltd   Wendy Yule  Fred Anderson          CPU
16                    Koepp Ltd   Wendy Yule  Fred Anderson      Monitor

    Quantity   Price
9          2   65000
10         1   30000
11         1    5000
12         1   10000
13         3    7000
14         5  100000
15         2   65000
16         2    5000

********************************************

In [22]:
gb_manager.get_group("Debra Henley")

,Name,Rep,Manager,Product,Quantity,Price
0,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000
1,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000
2,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000
3,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000
4,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000
5,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000
6,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000
7,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000
8,Barton LLC,John Smith,Debra Henley,CPU,1,35000

In [23]:
dfdebra = gb_manager.get_group("Debra Henley")

In [26]:
dfdebra["Rep"].unique()

array(['Craig Booker', 'Daniel Hilton', 'John Smith'], dtype=object)

In [27]:
dfdebra

,Name,Rep,Manager,Product,Quantity,Price
0,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000
1,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000
2,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000
3,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000
4,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000
5,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000
6,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000
7,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000
8,Barton LLC,John Smith,Debra Henley,CPU,1,35000

In [28]:
gb_rep = dfdebra.groupby("Rep")

In [31]:
for m, n in gb_rep:
    print(m)
    print("__________________")
    print()
    print(n)
    print()
    p = n["Price"].sum()
    print("Total Sales : ",p)
    print("********************************************")
    print()

Craig Booker
__________________

                           Name           Rep       Manager      Product  \
0               Trantow-Barrows  Craig Booker  Debra Henley          CPU
1               Trantow-Barrows  Craig Booker  Debra Henley     Software
2               Trantow-Barrows  Craig Booker  Debra Henley  Maintenance
3  Fritsch, Russel and Anderson  Craig Booker  Debra Henley          CPU

   Quantity  Price
0         1  30000
1         1  10000
2         2   5000
3         1  35000

Total Sales :  80000
********************************************

Daniel Hilton
__________________

           Name            Rep       Manager   Product  Quantity  Price
4  Kiehn-Spinka  Daniel Hilton  Debra Henley       CPU         2  65000
5     Kulas Inc  Daniel Hilton  Debra Henley       CPU         2  40000
6     Kulas Inc  Daniel Hilton  Debra Henley  Software         1  10000

Total Sales :  115000
********************************************

John Smith
__________________

            Name         Rep       Manager      Product  Quantity  Price
7  Jerde-Hilpert  John Smith  Debra Henley  Maintenance         2   5000
8     Barton LLC  John Smith  Debra Henley          CPU         1  35000

Total Sales :  40000
********************************************