In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import warnings

In [6]:
warnings.filterwarnings("ignore")

In [7]:
a = "13-04-2023"

In [8]:
pd.to_datetime(a)

Timestamp('2023-04-13 00:00:00')

In [9]:
b = "Aug 21, 2023"

In [10]:
pd.to_datetime(b)

Timestamp('2023-08-21 00:00:00')

In [11]:
c = "15/08/2023"

In [12]:
pd.to_datetime(c)

Timestamp('2023-08-15 00:00:00')

In [13]:
d = "20230413"

In [14]:
pd.to_datetime(d)

Timestamp('2023-04-13 00:00:00')

###  generate series of dates

In [15]:
pd.date_range(start= "15-04-2023", end= "30-04-2023" )

DatetimeIndex(['2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
               '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [16]:
pd.date_range(start= "15-04-2023", end= "30-04-2023", freq = "D")

DatetimeIndex(['2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
               '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(start= "15-04-2023", end= "30-04-2023", freq = "D").shape

(16,)

In [18]:
pd.date_range(start= "15-04-2023", end= "30-04-2023",periods = 30)

DatetimeIndex([          '2023-04-15 00:00:00',
               '2023-04-15 12:24:49.655172413',
               '2023-04-16 00:49:39.310344827',
               '2023-04-16 13:14:28.965517241',
               '2023-04-17 01:39:18.620689655',
               '2023-04-17 14:04:08.275862069',
               '2023-04-18 02:28:57.931034482',
               '2023-04-18 14:53:47.586206896',
               '2023-04-19 03:18:37.241379310',
               '2023-04-19 15:43:26.896551724',
               '2023-04-20 04:08:16.551724138',
               '2023-04-20 16:33:06.206896551',
               '2023-04-21 04:57:55.862068965',
               '2023-04-21 17:22:45.517241379',
               '2023-04-22 05:47:35.172413793',
               '2023-04-22 18:12:24.827586207',
               '2023-04-23 06:37:14.482758620',
               '2023-04-23 19:02:04.137931034',
               '2023-04-24 07:26:53.793103448',
               '2023-04-24 19:51:43.448275862',
               '2023-04-25 08:16:33.103448276',
               '2023-04-25 20:41:22.758620689',
               '2023-04-26 09:06:12.413793103',
               '2023-04-26 21:31:02.068965517',
               '2023-04-27 09:55:51.724137931',
               '2023-04-27 22:20:41.379310344',
               '2023-04-28 10:45:31.034482758',
               '2023-04-28 23:10:20.689655172',
               '2023-04-29 11:35:10.344827586',
                         '2023-04-30 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [19]:
pd.date_range(start= "15-04-2023", end= "30-04-2023",periods = 30).shape

(30,)

In [20]:
pd.date_range(start= "15-04-2023", end= "30-04-2023",periods = 30, freq="D")

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [21]:
pd.date_range(start= "15-04-2023", end= "30-04-2023", freq="B")

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='B')

In [22]:
pd.date_range(start= "15-04-2023", end= "30-04-2023",periods = 30)

DatetimeIndex([          '2023-04-15 00:00:00',
               '2023-04-15 12:24:49.655172413',
               '2023-04-16 00:49:39.310344827',
               '2023-04-16 13:14:28.965517241',
               '2023-04-17 01:39:18.620689655',
               '2023-04-17 14:04:08.275862069',
               '2023-04-18 02:28:57.931034482',
               '2023-04-18 14:53:47.586206896',
               '2023-04-19 03:18:37.241379310',
               '2023-04-19 15:43:26.896551724',
               '2023-04-20 04:08:16.551724138',
               '2023-04-20 16:33:06.206896551',
               '2023-04-21 04:57:55.862068965',
               '2023-04-21 17:22:45.517241379',
               '2023-04-22 05:47:35.172413793',
               '2023-04-22 18:12:24.827586207',
               '2023-04-23 06:37:14.482758620',
               '2023-04-23 19:02:04.137931034',
               '2023-04-24 07:26:53.793103448',
               '2023-04-24 19:51:43.448275862',
               '2023-04-25 08:16:33.103448276',
               '2023-04-25 20:41:22.758620689',
               '2023-04-26 09:06:12.413793103',
               '2023-04-26 21:31:02.068965517',
               '2023-04-27 09:55:51.724137931',
               '2023-04-27 22:20:41.379310344',
               '2023-04-28 10:45:31.034482758',
               '2023-04-28 23:10:20.689655172',
               '2023-04-29 11:35:10.344827586',
                         '2023-04-30 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [23]:
pd.date_range(start= "15-04-2023" , periods = 30, freq="D")

DatetimeIndex(['2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
               '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range(start= "15-04-2023" , periods = 30, freq="D").shape

(30,)

In [26]:
pd.date_range(end = "15-04-2023" , periods = 30, freq="D")

DatetimeIndex(['2023-03-17', '2023-03-18', '2023-03-19', '2023-03-20',
               '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24',
               '2023-03-25', '2023-03-26', '2023-03-27', '2023-03-28',
               '2023-03-29', '2023-03-30', '2023-03-31', '2023-04-01',
               '2023-04-02', '2023-04-03', '2023-04-04', '2023-04-05',
               '2023-04-06', '2023-04-07', '2023-04-08', '2023-04-09',
               '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13',
               '2023-04-14', '2023-04-15'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023")

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10',
               ...
               '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-09',
               '2023-09-10', '2023-09-11', '2023-09-12', '2023-09-13',
               '2023-09-14', '2023-09-15'],
              dtype='datetime64[ns]', length=168, freq='D')

In [28]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023").shape

(168,)

In [30]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023", freq = "B")

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14',
               ...
               '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07',
               '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13',
               '2023-09-14', '2023-09-15'],
              dtype='datetime64[ns]', length=120, freq='B')

In [31]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023", freq = "M")

DatetimeIndex(['2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31'],
              dtype='datetime64[ns]', freq='M')

In [32]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023", freq = "MS")

DatetimeIndex(['2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01',
               '2023-08-01', '2023-09-01'],
              dtype='datetime64[ns]', freq='MS')

In [33]:
pd.date_range(start = "April 01, 2023", end = "15-09-2023", freq = "W")

DatetimeIndex(['2023-04-02', '2023-04-09', '2023-04-16', '2023-04-23',
               '2023-04-30', '2023-05-07', '2023-05-14', '2023-05-21',
               '2023-05-28', '2023-06-04', '2023-06-11', '2023-06-18',
               '2023-06-25', '2023-07-02', '2023-07-09', '2023-07-16',
               '2023-07-23', '2023-07-30', '2023-08-06', '2023-08-13',
               '2023-08-20', '2023-08-27', '2023-09-03', '2023-09-10'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "Y")

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [36]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "YS")

DatetimeIndex(['2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [37]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "A")

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [38]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "AS")

DatetimeIndex(['2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [39]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "Y")

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [40]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "M")

DatetimeIndex(['2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30',
               '2023-12-31', '2024-01-31', '2024-02-29', '2024-03-31',
               '2024-04-30', '2024-05-31', '2024-06-30', '2024-07-31',
               '2024-08-31', '2024-09-30', '2024-10-31', '2024-11-30',
               '2024-12-31', '2025-01-31', '2025-02-28', '2025-03-31',
               '2025-04-30', '2025-05-31', '2025-06-30', '2025-07-31',
               '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30',
               '2025-12-31', '2026-01-31', '2026-02-28', '2026-03-31',
               '2026-04-30', '2026-05-31', '2026-06-30', '2026-07-31',
               '2026-08-31', '2026-09-30', '2026-10-31', '2026-11-30',
               '2026-12-31', '2027-01-31', '2027-02-28', '2027-03-31',
               '2027-04-30', '2027-05-31', '2027-06-30', '2027-07-31',
               '2027-08-31', '2027-09-30', '2027-10-31', '2027-11-30',
               '2027-12-31', '2028-01-31', '2028-02-29', '2028-03-31',
               '2028-04-30', '2028-05-31', '2028-06-30', '2028-07-31',
               '2028-08-31', '2028-09-30', '2028-10-31', '2028-11-30',
               '2028-12-31', '2029-01-31', '2029-02-28', '2029-03-31',
               '2029-04-30', '2029-05-31', '2029-06-30', '2029-07-31',
               '2029-08-31', '2029-09-30', '2029-10-31', '2029-11-30',
               '2029-12-31', '2030-01-31', '2030-02-28', '2030-03-31',
               '2030-04-30', '2030-05-31', '2030-06-30', '2030-07-31',
               '2030-08-31'],
              dtype='datetime64[ns]', freq='M')

In [41]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "6M")

DatetimeIndex(['2023-04-30', '2023-10-31', '2024-04-30', '2024-10-31',
               '2025-04-30', '2025-10-31', '2026-04-30', '2026-10-31',
               '2027-04-30', '2027-10-31', '2028-04-30', '2028-10-31',
               '2029-04-30', '2029-10-31', '2030-04-30'],
              dtype='datetime64[ns]', freq='6M')

In [46]:
pd.date_range(start = "April 01, 2023", end = "15-09-2030", freq = "6MS")

DatetimeIndex(['2023-04-01', '2023-10-01', '2024-04-01', '2024-10-01',
               '2025-04-01', '2025-10-01', '2026-04-01', '2026-10-01',
               '2027-04-01', '2027-10-01', '2028-04-01', '2028-10-01',
               '2029-04-01', '2029-10-01', '2030-04-01'],
              dtype='datetime64[ns]', freq='6MS')

In [49]:
pd.date_range(start = "April 01, 2023", end = "20230402", freq = "H")

DatetimeIndex(['2023-04-01 00:00:00', '2023-04-01 01:00:00',
               '2023-04-01 02:00:00', '2023-04-01 03:00:00',
               '2023-04-01 04:00:00', '2023-04-01 05:00:00',
               '2023-04-01 06:00:00', '2023-04-01 07:00:00',
               '2023-04-01 08:00:00', '2023-04-01 09:00:00',
               '2023-04-01 10:00:00', '2023-04-01 11:00:00',
               '2023-04-01 12:00:00', '2023-04-01 13:00:00',
               '2023-04-01 14:00:00', '2023-04-01 15:00:00',
               '2023-04-01 16:00:00', '2023-04-01 17:00:00',
               '2023-04-01 18:00:00', '2023-04-01 19:00:00',
               '2023-04-01 20:00:00', '2023-04-01 21:00:00',
               '2023-04-01 22:00:00', '2023-04-01 23:00:00',
               '2023-04-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [50]:
pd.date_range(start = "April 01, 2023", end = "20230402", freq = "3H")

DatetimeIndex(['2023-04-01 00:00:00', '2023-04-01 03:00:00',
               '2023-04-01 06:00:00', '2023-04-01 09:00:00',
               '2023-04-01 12:00:00', '2023-04-01 15:00:00',
               '2023-04-01 18:00:00', '2023-04-01 21:00:00',
               '2023-04-02 00:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [52]:
pd.date_range(start="2023-06-15", end="2023-07-15", freq = "D")

DatetimeIndex(['2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18',
               '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22',
               '2023-06-23', '2023-06-24', '2023-06-25', '2023-06-26',
               '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30',
               '2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08',
               '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12',
               '2023-07-13', '2023-07-14', '2023-07-15'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(start="2023-06-15", end="2023-07-15", freq = "D").shape

(31,)

In [53]:
pd.date_range(start="2023-06-15", end="2023-07-15", freq = "B")

DatetimeIndex(['2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20',
               '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26',
               '2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30',
               '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
               '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12',
               '2023-07-13', '2023-07-14'],
              dtype='datetime64[ns]', freq='B')

In [55]:
pd.date_range(start="2023-06-15", end="2023-07-15", freq = "B").shape

(22,)

In [56]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [57]:
from pandas.tseries.offsets import CustomBusinessDay

In [58]:
ush = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [59]:
ush

In [60]:
pd.date_range(start="2023-06-15", end="2023-07-15", freq = ush)

DatetimeIndex(['2023-06-15', '2023-06-16', '2023-06-20', '2023-06-21',
               '2023-06-22', '2023-06-23', '2023-06-26', '2023-06-27',
               '2023-06-28', '2023-06-29', '2023-06-30', '2023-07-03',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-10',
               '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14'],
              dtype='datetime64[ns]', freq='C')

In [61]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = "D")

DatetimeIndex(['2023-12-15', '2023-12-16', '2023-12-17', '2023-12-18',
               '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22',
               '2023-12-23', '2023-12-24', '2023-12-25', '2023-12-26',
               '2023-12-27', '2023-12-28', '2023-12-29', '2023-12-30',
               '2023-12-31', '2024-01-01', '2024-01-02', '2024-01-03',
               '2024-01-04', '2024-01-05', '2024-01-06', '2024-01-07',
               '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11',
               '2024-01-12', '2024-01-13', '2024-01-14', '2024-01-15'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = "D").shape

(32,)

In [63]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = "B")

DatetimeIndex(['2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-25', '2023-12-26',
               '2023-12-27', '2023-12-28', '2023-12-29', '2024-01-01',
               '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05',
               '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11',
               '2024-01-12', '2024-01-15'],
              dtype='datetime64[ns]', freq='B')

In [65]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = "B").shape

(22,)

In [66]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [67]:
from pandas.tseries.offsets import CustomBusinessDay

In [68]:
usa = CustomBusinessDay(calendar = USFederalHolidayCalendar())

In [69]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = usa)

DatetimeIndex(['2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20',
               '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27',
               '2023-12-28', '2023-12-29', '2024-01-02', '2024-01-03',
               '2024-01-04', '2024-01-05', '2024-01-08', '2024-01-09',
               '2024-01-10', '2024-01-11', '2024-01-12'],
              dtype='datetime64[ns]', freq='C')

In [70]:
pd.date_range(start="2023-12-15", end="2024-01-15", freq = usa).shape

(19,)

In [71]:
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday

In [72]:
from pandas.tseries.offsets import CustomBusinessDay

In [73]:
class IndianHolidayCalendar(AbstractHolidayCalendar):

    rules = [
        Holiday("New Year's Day", month=1, day=1),
        Holiday("Independence Day", month=8, day=15),
        Holiday("Diwali", month=11, day=15),
        Holiday("Formation Day", month=12, day=11),
        Holiday("Christmas Day", month=12, day=25),
    ]

In [74]:
ich = CustomBusinessDay(calendar = IndianHolidayCalendar())

In [75]:
ich

In [76]:
pd.date_range(start="2023-08-01", end="2023-08-20", freq="D")

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08',
               '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12',
               '2023-08-13', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-19', '2023-08-20'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range(start="2023-08-01", end="2023-08-20", freq="D").shape

(20,)

In [78]:
pd.date_range(start="2023-08-01", end="2023-08-20", freq="B")

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10',
               '2023-08-11', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18'],
              dtype='datetime64[ns]', freq='B')

In [79]:
pd.date_range(start="2023-08-01", end="2023-08-20", freq="B").shape

(14,)

In [80]:
pd.date_range(start="2023-08-01", end="2023-08-20", freq=ich)

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10',
               '2023-08-11', '2023-08-14', '2023-08-16', '2023-08-17',
               '2023-08-18'],
              dtype='datetime64[ns]', freq='C')

In [81]:
pd.date_range(start="2023-11-10", end="2024-01-05", freq="D")

DatetimeIndex(['2023-11-10', '2023-11-11', '2023-11-12', '2023-11-13',
               '2023-11-14', '2023-11-15', '2023-11-16', '2023-11-17',
               '2023-11-18', '2023-11-19', '2023-11-20', '2023-11-21',
               '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-25',
               '2023-11-26', '2023-11-27', '2023-11-28', '2023-11-29',
               '2023-11-30', '2023-12-01', '2023-12-02', '2023-12-03',
               '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07',
               '2023-12-08', '2023-12-09', '2023-12-10', '2023-12-11',
               '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15',
               '2023-12-16', '2023-12-17', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-23',
               '2023-12-24', '2023-12-25', '2023-12-26', '2023-12-27',
               '2023-12-28', '2023-12-29', '2023-12-30', '2023-12-31',
               '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range(start="2023-11-10", end="2024-01-05", freq="D").shape

(57,)

In [83]:
pd.date_range(start="2023-11-10", end="2024-01-05", freq="B")

DatetimeIndex(['2023-11-10', '2023-11-13', '2023-11-14', '2023-11-15',
               '2023-11-16', '2023-11-17', '2023-11-20', '2023-11-21',
               '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-27',
               '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01',
               '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07',
               '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13',
               '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='B')

In [84]:
pd.date_range(start="2023-11-10", end="2024-01-05", freq="B").shape

(41,)

In [85]:
pd.date_range(start="2023-11-10", end="2024-01-05", freq=ich)

DatetimeIndex(['2023-11-10', '2023-11-13', '2023-11-14', '2023-11-16',
               '2023-11-17', '2023-11-20', '2023-11-21', '2023-11-22',
               '2023-11-23', '2023-11-24', '2023-11-27', '2023-11-28',
               '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-04',
               '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08',
               '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15',
               '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21',
               '2023-12-22', '2023-12-26', '2023-12-27', '2023-12-28',
               '2023-12-29', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='C')

In [86]:
we = CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu' )

In [87]:
we

In [88]:
pd.date_range(start="2023-04-01", end="2023-05-01", freq="D")

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30', '2023-05-01'],
              dtype='datetime64[ns]', freq='D')

In [89]:
pd.date_range(start="2023-04-01", end="2023-05-01", freq="B")

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-05-01'],
              dtype='datetime64[ns]', freq='B')

In [90]:
pd.date_range(start="2023-04-01", end="2023-05-01", freq=we)

DatetimeIndex(['2023-04-02', '2023-04-03', '2023-04-04', '2023-04-05',
               '2023-04-06', '2023-04-09', '2023-04-10', '2023-04-11',
               '2023-04-12', '2023-04-13', '2023-04-16', '2023-04-17',
               '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-23',
               '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27',
               '2023-04-30', '2023-05-01'],
              dtype='datetime64[ns]', freq='C')