In [2]:
t=(100,200,300,400)
print(t)
type(t)

(100, 200, 300, 400)

tuple

In [3]:
len(t)

4

In [4]:
max(t)

400

In [5]:
min(t)

100

In [7]:
t2="Apple",100,21.88,"Orange"
print(t2)
type(t2)

('Apple', 100, 21.88, 'Orange')

tuple

In [8]:
t3=(100)
print(t3)
type(t3)

100

int

In [9]:
t4=(100,)
print(t4)
type(t4)

(100,)

tuple

### Multiple Heterogeneous Values

In [10]:
t2="Apple",100,21.88,"Orange"
print(t2)
type(t2)

('Apple', 100, 21.88, 'Orange')

tuple

### Reading data using for loop

In [38]:
t2

('Apple', 100, 21.88, 'Orange')

In [39]:
for i in t2:
    print(i)

Apple
100
21.88
Orange

### Indexing

In [11]:
t2[1]

100

In [12]:
t2[-1]

'Orange'

In [13]:
t2[3]

'Orange'

### Slicing

In [14]:
t2[1:3:1]

(100, 21.88)

In [16]:
t2[-1:-4:-1]

('Orange', 21.88, 100)

### Duplicate Values

In [19]:
t3="Apple",100,21.88,"Orange",100,"Apple"
print(t3)
type(t3)

('Apple', 100, 21.88, 'Orange', 100, 'Apple')

tuple

### Nesting

In [20]:
t4=(10,20,("A","B","C"),30,40)
print(t4)
type(t4)

(10, 20, ('A', 'B', 'C'), 30, 40)

tuple

In [21]:
len(t4)

5

In [22]:
t4[2]

('A', 'B', 'C')

In [23]:
t4[2][1]

'B'

### Empty Tuple

In [24]:
etup=()
print(etup)
type(etup)

()

tuple

In [25]:
etup1=tuple()
print(etup1)
type(etup1)

()

tuple

### Empty List

In [26]:
elist=[]
print(elist)
type(elist)

[]

list

In [27]:
elist1=list()
print(elist)
type(elist)

[]

list

In [ ]:
# String to Tuple Conversion

In [30]:
str1="Good Morning"

In [32]:
a=tuple(str1)
a

('G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g')

### Built-in Function
    Count
    Index

### Count

In [33]:
a

('G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g')

In [34]:
a.count("o")

3

In [35]:
a.count("n")

2

### Index

In [36]:
t4

(10, 20, ('A', 'B', 'C'), 30, 40)

In [37]:
t4.index(20)

1

### Delete

In [40]:
t2

('Apple', 100, 21.88, 'Orange')

In [41]:
t2[3]

'Orange'

In [43]:
del(t2[3]) #Tuple is immutable

TypeError: 'tuple' object doesn't support item deletion

In [44]:
t2

('Apple', 100, 21.88, 'Orange')

In [46]:
del(t2) # Delete t2 Tuple

NameError: name 't2' is not defined

### Operations

In [47]:
t1=(100,200,300,400,500)

In [48]:
t3=(11,22,33,44,55)

In [50]:
rt=t1+t3
rt

(100, 200, 300, 400, 500, 11, 22, 33, 44, 55)

In [57]:
for i in range(len(t1)):
    print(t1[i],end="+")
    print(t3[i],end=" == ")
    rt=t1[i]+t3[i]
    print(rt)

100+11 == 111
200+22 == 222
300+33 == 333
400+44 == 444
500+55 == 555

### Add an element in Tuple

In [58]:
t3

(11, 22, 33, 44, 55)

In [59]:
l3=list(t3) # Converting to list
l3

[11, 22, 33, 44, 55]

In [60]:
l3.append("Sky") # add an element
l3

[11, 22, 33, 44, 55, 'Sky']

In [61]:
t3=tuple(l3) # Converting to tuple
t3

(11, 22, 33, 44, 55, 'Sky')

### Zip Function

In [62]:
t1

(100, 200, 300, 400, 500)

In [63]:
t3

(11, 22, 33, 44, 55, 'Sky')

In [64]:
t2=t3[0:5:1]
t2

(11, 22, 33, 44, 55)

In [78]:
for a,b in zip(t1,t2):
    print((a,b),a,"*",b,"==",a*b)

(100, 11) 100 * 11 == 1100
(200, 22) 200 * 22 == 4400
(300, 33) 300 * 33 == 9900
(400, 44) 400 * 44 == 17600
(500, 55) 500 * 55 == 27500

In [67]:
z=zip(t1,t3)
z

In [69]:
print(type(z))

<class 'zip'>

In [70]:
list(z)

[(100, 11), (200, 22), (300, 33), (400, 44), (500, 55)]

In [72]:
tuple(z)

()

In [73]:
list(z)

[]

In [84]:
t3=(1000,2000,3000,4000,5000)

In [85]:
t1

(100, 200, 300, 400, 500)

In [86]:
t2

(11, 22, 33, 44, 55)

In [88]:
for i,j,k in zip(t1,t2,t3):
    print(i)
    print(j)
    print(k)
    print("Addition: ",i+j+k)
    print("Multiplication: ",i*j*k)
    print("------------------")

100
11
1000
Addition:  1111
Multiplication:  1100000
------------------
200
22
2000
Addition:  2222
Multiplication:  8800000
------------------
300
33
3000
Addition:  3333
Multiplication:  29700000
------------------
400
44
4000
Addition:  4444
Multiplication:  70400000
------------------
500
55
5000
Addition:  5555
Multiplication:  137500000
------------------

In [89]:
t1

(100, 200, 300, 400, 500)

In [90]:
l1=list(t1)
l1

[100, 200, 300, 400, 500]

In [91]:
l2=list(t2)
l2

[11, 22, 33, 44, 55]

In [92]:
l2=[11,22,33,44,55,66,77]

In [93]:
l3=[10,20,30,40]

In [94]:
for i,j,k in zip(l1,l2,l3):
    print(i,j,k)

100 11 10
200 22 20
300 33 30
400 44 40

### Packing

In [95]:
a=100
b="Sky"
c=200
d=400

In [96]:
t5=(a,b,c,d)
t5

(100, 'Sky', 200, 400)

### Unpacking

In [97]:
m,n,o,p=t5

In [98]:
m

100

In [99]:
n

'Sky'

In [100]:
o

200

In [101]:
p

400

In [102]:
str="Welcome to Tuple Class of Python"

In [103]:
t6=tuple(str)
t6

('W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'T',
 'u',
 'p',
 'l',
 'e',
 ' ',
 'C',
 'l',
 'a',
 's',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n')

In [104]:
x,y,*z=t6 # Variable Length Argument/ *args

In [105]:
x

'W'

In [106]:
y

'e'

In [107]:
z

['l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'T',
 'u',
 'p',
 'l',
 'e',
 ' ',
 'C',
 'l',
 'a',
 's',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n']

In [108]:
*x,y,z=t6

In [109]:
z

'n'

In [110]:
y

'o'

In [111]:
x

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'T',
 'u',
 'p',
 'l',
 'e',
 ' ',
 'C',
 'l',
 'a',
 's',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'P',
 'y',
 't',
 'h']

In [112]:
x,*y,z=t6

In [113]:
x

'W'

In [114]:
z

'n'

In [115]:
y

['e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'T',
 'u',
 'p',
 'l',
 'e',
 ' ',
 'C',
 'l',
 'a',
 's',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o']